html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
p {
    font-size: 1em;
  }
.body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
  }
.container {
    max-width: 75em;
    margin: 0 auto;
  }
.header-site img {
  width: 100%;
  height: 22em;
}
.header-site {
  padding: 0;
}
.headerbar {
  background-color: #010204;
}

.gamebar{
    background-color:#c92234;
    color:#ffffff;
    text-align: center;
    padding: 1em 0;
}
.gamebar a{
    text-decoration: none;
    color: white;
}
.gamebar a:hover{
    text-decoration: none;
    color: #0083a4;
}
h6{
    color: grey;
}

.mainbar-div {
  background-color: rgb(78, 173, 248);
  overflow: hidden;
  padding: 1.25em;
}

.main-nav {
  position: relative;
  text-align: center;
}

@media (min-width: 768px) {
    .main-content {
      width: 75%;
      float: left;
      padding: 0 3.53em 0 0;
    }
    .sidebar {
      width: 20%;
      float: right;
      padding: 0;
      margin-top: 2.5em;
    }
  }
  
.main-nav a {
  font-size: 1.35em;
  color: #ffffff;
  text-decoration: none;
  padding: 1.5em;
  transition: background-color 0.3s ease-in-out;
  text-align: center;
  display: block;
}

.main-nav a:hover {
  background-color: #c92234;
}

@media (min-width: 768px) {
  .main-nav a {
    display: inline;
  }

  .header-site img {
    max-width: 30em;
    margin-left: 28em;
  }
  .header-site {
    padding: 1.25em 0;
  }
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
@media(max-width:600px){
    .grid-3{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .grid-3 p{
        margin: 0 1em;
    }
    
}

p{
    text-align: justify;
}

.grid-3 img{
    width: 20em;
}
.sidebar{
text-align: center;
}
.sidebar ul {
    list-style:disc;
    padding: 0;
  }
  
.sidebar ul li {
    padding: 0.625em;
  }

  
.sidebar ul li:hover {
    background-color:#c92234;
  }
  
  .sidebar ul li a{
      color:#0083a4 ;
      font-size: 1.25em;
      text-decoration: none;
  }
  
  .sidebar ul li:hover a{
      color: #ffffff;
  }

  .entry p {
    text-align: justify;
  }
  
/* Footer */
.footer-site {
    background-color:rgb(78, 173, 248);
    margin-top: 3.75em;
    padding-top: 2.5em;
    text-align: center;
  }
  .footer-site h2 {
    color: #ffffff;
  }
  .footer-site a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.25em;
  }
  .footer-site a:last-of-type {
    margin-right: 0;
  }
  .footer-site p {
    color: #ffffff;
  }
  @media (min-width: 768px) {
    .footer-site .about-us {
      float: left;
      width: 40%;
      text-align: left;
      margin-left: 2.5em;
    }
    .footer-site .footer-menu {
      float: right;
      width: 55%;
      text-align: right;
    }
    .footer-site .footer-menu a{
        margin-left: 0.635em;
    }
  }
  .copyright {
    background-color: #010204;
    padding: 1.25em 0;
    text-align: center;
  }

  .media-grid{
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  font-size: small;
  text-align: center;
  }
  .media-grid img{
      width: 4em;
  }